<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Spotify</title>

    <link rel="stylesheet" href="/font/font.css">
    <style>
        body, html {
            background: #ededed;
            padding: 0;
            margin: 0;
            font-family: "Raleway", sans-serif;
        }

        #content {
            display: flex;
            min-height: 100vh;
            padding: 40px 10px;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #content .logo {
            width: 150px;
            height: 150px;
            background-image: url("/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        #content .title {
            margin-top: 25px;
            font-weight: 300;
            font-size: 30px;
            text-align: center;
        }

        #content .message {
            margin-top: 50px;
            text-align: center;
        }

        #content .second-message {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
        }
    </style>

</head>
<body>
<div id="content">
    <div class="logo"></div>
    <div class="title">Ambiento</div>
    <div class="message">Spotify erfolgreich verlinkt</div>
    <div class="second-message">Du kannst dieses Fenster nun schließen</div>
</div>
</body>
</html>